*{
    margin:0px;
    padding:0px;
}

body{
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);

}
h1{
    padding-left: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: aquamarine;

}

p{
    padding-top: 20px;
    padding-left: 150px;
    padding-bottom: 50px;
}

#sug{
    padding:30px;
    margin-left: 100px;
    border-radius: 20px;
    background-color: rgb(215, 215, 196);
    margin: 27px 0px
}

#miss{
    padding:30px 10px;
    border-radius: 20px;
    background-color: rgb(234, 234, 90);
}


#comp{
    padding:30px;
    border-radius: 20px;
    background-color: rgb(215, 215, 196);
}

#txt{
    margin-top: 0px;
    margin-left: 100px;
    padding:30px 100px;
    border-radius: 20px;
    background-color: rgb(215, 215, 196);
    position: relative;
    top: 22px;
    left: -50px;
}

.symbol{
    margin: 31px;
}

.ttype{
    padding: 41px;
}
.main{
    border: 2px solid yellow;
    
}

body {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
  }
  
  h1,
  p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  .app {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .radio {
    display: none;
  }
  .radio ~ span {
    font-size: 3rem;
    filter: grayscale(100);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .radio:checked ~ span {
    filter: grayscale(0);
    font-size: 4rem;
  }
  
  .btn{
    padding: 49px 103px;
  }

  .btn1 input {
    background-color: aquamarine;
    padding: 11px 11px;
    width: 91px;
    border-radius: 11px;
    cursor: pointer;
  }
  